<script id="bandPaginateTemplate" type="text/x-jquery-tmpl">
	{{if nb > 0}}
		<section class="paginate {{if nb == total}}end{{else}}begin{{/if}}">
			<span>
				${nb} groupe{{if nb > 1}}s{{/if}} sur ${total}
				{{if nb != total}}- descendez en bas de la liste pour en afficher plus{{/if}}
			</span>
		</section>
	{{else}}
		<section class="paginate end">
			<span>aucun groupe trouvé</span>
		</section>
	{{/if}}
</script>
<script id="bandListTemplate" type="text/x-jquery-tmpl">
	<ul class="listContent clearfix">
		{{each(i, band) list}}
			<li>
				<article class="block">
					<dl class="info">
						<dd>
							${band.bandName} (${band.bandGenre})

							{{if band.bandWebSite != null}}
								<a class="button icon externalLink" data-icon="/" rel="${band.bandID}" href="${band.bandWebSite}" title="Voir le site du groupe dans une nouvelle page" target="_blank"></a>
							{{/if}}

							<a class="button icon update" data-icon="P" href="${band.bandID}" title="Mettre à jour les informations de ce groupe" rel="band">
							</a>

							<a class="button icon delete" data-icon="t" href="${band.bandID}" title="Supprimer ce groupe" rel="band">
							</a>
						</dd>
					</dl>
				</article>
			</li>
		{{/each}}
	</ul>
</script>
