<script id="storagePaginateTemplate" type="text/x-jquery-tmpl">
	{{if nb > 0}}
		<section class="paginate {{if nb == total}}end{{/if}}">
			<span>
				{{if nb > total}}${total}{{else}}${nb}{{/if}} rangement{{if nb > 1}}s{{/if}} sur ${total}
				{{if nb != total}}- descendez en bas de la liste pour en afficher plus{{/if}}
			</span>
		</section>
	{{else}}
		<section class="paginate end">
			<span>aucun rangement trouvé</span>
		</section>
	{{/if}}
</script>
<script id="storageListTemplate" type="text/x-jquery-tmpl">
	<section class="listContent">
		{{each(i, storage) list}}
			{{if isStorageChanged(i)}}
				<article class="item" style="background-image: url(${getFullUrl(currentStorageURL, '')});">
					<div class="block">
						<dl class="info">
							<dt class="listHidden">Pièce</dt>
							<dd class="title">
								${storage.storageRoom}
							</dd>
							<dt class="listHidden">Type</dt>
							<dd class="title">
								${storage.storageType}
							</dd>
							<dd class="title">&nbsp;</dd>
						</dl>
					</div>
					<a class="button icon storage" data-icon="}" href="${getFullUrl(currentStorageURL, '')}"></a>
				</article>
			{{/if}}

			<article class="item" style="background-image: url(${getFullUrl(storage.storageURL, '')});">
				<div class="block">
					<dl class="info">
						<dt class="listHidden">Pièce</dt>
						<dd class="title">
							${storage.storageRoom}
						</dd>
						<dt class="listHidden">Type</dt>
						<dd class="title">
							${storage.storageType}
						</dd>
						<dd class="title detailHidden">
							${storage.storageColumn}${storage.storageLine}
						</dd>
						<dt class="listHidden">Colonne</dt>
						<dd class="listHidden">
							${storage.storageColumn}
						</dd>
						<dt class="listHidden">Ligne</dt>
						<dd class="listHidden">
							${storage.storageLine}
						</dd>
						<dt class="listHidden actions">
							<a class="button icon update" data-icon="P" href="${storage.storageID}" title="Mettre à jour les informations de ce rangement" rel="storage"></a>
							<a class="button icon delete" data-icon="t" href="${storage.storageID}" title="Supprimer ce rangement" rel="storage"></a>
							<a class="button icon storage" data-icon="}" href="${getFullUrl(storage.storageURL, '')}"></a>
						</dt>
					</dl>
				</div>
				<a class="button icon storage" data-icon="}" href="${getFullUrl(storage.storageURL, '')}"></a>
			</article>
		{{/each}}
	</section>
</script>

